body {
    font-family: 'Poppins', sans-serif;

}

.navbar-container {
    margin: 50px 80px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: stretch;
}

.grow-list{
    flex: 2;
}

.list {
    display: flex;
    list-style-type: none;
    margin-left: 40px;
    
}

.list-item {
    margin-right: 50px;
    color: #c8c8c8;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}

.list-item:hover {
    color: #000;
}

.nav-button {
    padding: 20px 40px 20px ;
    background-color: #5955b3;
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
    border: none;
}

.nav-button.btn {
    align-self: center;
    width: 350px;
    padding: 40px;
    background-color: #5955b3;
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
    border: none;
}

.banner-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
}

.banner-container > div:first-of-type {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 80px;
}

.heading-text {
    font-size: 100px;
    font-weight: 500;
    color: #3c2f60;

}

.heading-text > span {
    color: #5955b3;
}

.description {
    
    text-align: center;
    color: #c8c8c8;
}